
# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/
.dist

# Built Visual Studio Code Extensions
*.vsix

# jupyter-notebook
.ipynb_checkpoints